<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Timeline</title>

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }

    .vis-item.vis-background.negative {
      background-color: rgba(255, 255, 255, 0.2);
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" rel="stylesheet" type="text/css" />

  <meta name="description" content="An overview of what I have been up to">
</head>
<body>
<div id="visualization"></div>

<script type="text/javascript">
  var refdate = function (str) {
    if (str === 'present') {
      return new Date();
    } else {
      return str;
    }
  };

  var yearItems = [];
  var year = 0;
  var curDate = new Date('{{basics.dateOfBirth}}');
  var now = new Date();
  while (curDate < now) {
    var nextYear = new Date(curDate.valueOf())
    nextYear.setFullYear(curDate.getFullYear() + 1);
    var yearItem = {
      id: year,
      content: year + ' years old',
      start: curDate,
      end: nextYear,
      type: 'background',
    };
    if (year % 2 === 0) {
      yearItem.className = 'negative';
    }
    yearItems.push(yearItem);
    curDate = nextYear;
    year += 1;
  }
  console.log(JSON.stringify(yearItems));

  var regularItems = [
    {{#location}}
      { 
        id: '{{location}} {{startDate}} {{endDate}}',
        title: '{{location}}, {{country}}',
        content: '{{location}}, {{country}}',
        start: '{{startDate}}',
        end: refdate('{{endDate}}'),
        group: 'location',
        color: '{{color}}',
      },
    {{/location}}
   
    {{#work}}
      { 
        id: '{{startDate}} {{position}} {{company}}',
        title: '{{position}} @ {{company}} {{#volunteer}}(volunteer){{/volunteer}}',
        content: '{{position}} @ {{company}}',
        start: '{{startDate}}',
        end: refdate('{{endDate}}'),
        group: 'work',
      },
    {{/work}}
    
    {{#education}}
      {
        id: '{{startDate}} {{studyType}} {{area}} {{institution}}',
        title: '{{studyType}} - {{area}} @ {{institution}}',
        content: '{{studyType}} - {{area}} @ {{institution}}',
        start: '{{startDate}}',
        end: refdate('{{endDate}}'),
        group: 'education',
      },
    {{/education}}
   
    {{#education-projects}}
      { 
        id: '{{title}} {{startDate}} {{endDate}}',
        title: '{{title}}',
        content: '{{title}}',
        start: '{{startDate}}',
        end: refdate('{{endDate}}'),
        group: 'education-projects',
      },
    {{/education-projects}}

    {{#books}}
      { 
        id: '{{title}} {{startDate}} {{endDate}}',
        title: '{{title}}',
        content: '{{title}}',
        start: '{{startDate}}',
        end: refdate('{{endDate}}'),
        group: 'books',
      },
    {{/books}}
   
    {{#talks}}
      { 
        id: '{{title}} {{location}} {{date}}',
        title: '{{title}} @ {{location}}',
        content: '{{title}} @ {{location}}',
        start: '{{date}}',
        group: 'talks',
      },
    {{/talks}}
  ];

  var items = new vis.DataSet(regularItems.concat(yearItems));

  var groups = new vis.DataSet([
    {id: 'location', content: 'Location'},
    {id: 'work', content: 'Work'},
    {id: 'education', content: 'Education'},
    {id: 'education-projects', content: 'Education Projects'},
    {id: 'books', content: 'Books'},
    {id: 'talks', content: 'Talks'},
  ]);

  var container = document.getElementById('visualization');
  var fiveYearsAgo = new Date().setFullYear(new Date().getFullYear() - 5);
  console.log(JSON.stringify(fiveYearsAgo));
  var options = {
    start: fiveYearsAgo,
    end: now,
    editable: false,
    tooltip: {
      followMouse: true
    }
  };

  var timeline = new vis.Timeline(container, items, groups, options);
</script>
</body>
</html>
